<!DOCTYPE html>
<html>
<body>
<html>
<?php echo $this->Html->charset();?>

<p align="center">

<img src="http://s4.thingpic.com/images/ME/Auf1Sm5yW6eMpNV6cNF54gdr.jpeg" alt="Eagle" style="width:550px;height:400px;">
</p>
<p
 align="center" style ="color:Green;font-weight:bold;font-size:200%;">
EAGLE FINANCIAL SERVICES

<p align="center" style="color:red">
FINANCIAL ADVISOR PORTFOLIO PLANNER
</p>

</body>
</html>

</select>

<form action="http://msdassignment1-vhegde.rhcloud.com/Eagle/customers">
           <input type="submit" value="Select a Customer and review profile">
       </form>

<form action="http://msdassignment1-vhegde.rhcloud.com/Eagle/stocks">
    <input type="submit" value="Update Stocks portfolio">
</form>

<form action="http://msdassignment1-vhegde.rhcloud.com/Eagle/investments">
    <input type="submit" value="Update Non-Stock Investments">
</form>
